/* t17.css */
body {
  margin: 0px;
  padding: 0px;
  /* 미디어쿼리할때 꼭 이거 쓰기 */
  font-size: 0.8em;
}

.container {
  background-color: #eee;
  /* 브라우저 전체를 차지한다 100%는 내용이 있는곳만 */
  height: 100vh;
  display: flex;
  /* 원래 행이 기본임 행기준 */
  /* flex-direction: row; */
  /* 열로 하고싶을때 */
  /* flex-direction: column; */
  /* reverse 도 있음 */
  /* flex-direction: row-reverse; */
  /* 아무것도 없으면 기본 값 행 */
  /* 원래 창을 작게 하면 넓이가 강제로 줄어드는데 랩을쓰면 줄어들지 않고 아래로 내려감 리버스면 반대 */
  flex-wrap: wrap;
  /* 기본 start 위치조정?*/
  justify-content: flex-start;
  /* justify-content: center; */
  /* 균등 양쪽끝 간격만 절반*/
  justify-content: space-around;
  /* 간격이 같음 */
  /* justify-content: space-between; */
  /*공백길이를 유지 유지 못할경우 떨어짐  */
  justify-content: space-evenly;

  /* 기본 */
  /* align-items: baseline; */
  /* align-items: center; */
  align-items: end;
}

.item {
  width: 70px;
  height: 70px;
  border: 1px solid gray;
  text-align: center;
}
.item2 {
  width: 150px;
  height: 150px;
}

.item1 {background-color: antiquewhite;}
.item2 {background-color: aquamarine;}
.item3 {background-color: yellowgreen;}
.item4 {background-color: blue;}
.item5 {background-color: violet;}
.item6 {background-color: tomato;}
.item7 {background-color: slategray;}
.item8 {background-color: plum;}
.item9 {background-color: turquoise;}
.item10 {background-color: brown;}